
@{
}

<div class="container-fluid w-100 min-vh-100 h-auto d-flex flex-column justify-content-center align-content-center align-items-center fs-3 bg-warning">
    <a asp-action="UserIndex">User</a> |
    <a asp-action="ProductIndex">Product</a> |
    <a asp-action="PaymentBankIndex">Payment</a> |
    <a asp-action="DiscountIndex">Discount</a> |
    <a asp-action="TrackingIndex">Tracking</a> |
    <a asp-action="ProductAddCart">Cartmethod</a>
</div>
