@model Staychill.Models.UserModel.Feedback;

@{
    Layout = "_AdminLayout";
}


<div class="container mt-4" style="overflow-x:hidden">

    <h1 class="fw-bold text-center">Feedback-controller</h1>
    <hr class="mb-4" />

    <div class="card">
        <div class="card-header">
            <h4>Feedback Information</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Email :</dt>
                <dd class="col-sm-9">@Model.Email</dd>

                <dt class="col-sm-3">Message :</dt>
                <dd class="col-sm-9">@Model.Description</dd>
            </dl>
        </div>
    </div>

    <div class="d-flex justify-content-center align-content-center mt-3">
        <a asp-action="Feedback" class="btn btn-secondary fs-5 me-2">Back to list</a> 
        <a asp-action="FeedbackDelete" asp-route-id="@Model.Id" class="btn btn-danger text-white fs-5 ms-2" onclick="return confirm('Are you sure you want to delete this?')">Delete</a></a>
    </div>

</div>
