@model IEnumerable<Staychill.Models.BankModel.PaymentMethod>

@{
    Layout = "_AdminLayout";
}

<link href="/css/AdminCSS/AdminPayment.css" rel="stylesheet" asp-append-version="true" />

<div class="container-fluid mt-4" style="overflow-x:hidden;">
    <h1 class="fw-bold text-center">Payment-controller</h1>
    <hr class="mb-5" />
    <div class="payment-method d-flex flex-row justify-content-evenly align-items-center align-content-center fs-3">
        <a asp-action="PaymentCardOpt"><button class="btn btn-primary fs-4 p-3">Card types</button></a>
        <a asp-action="PaymentBankAcc"><button class="btn btn-primary fs-4 p-3">Bank accounts</button></a>
        <a asp-action="PaymentPromptpay"><button class="btn btn-primary fs-4 p-3">QR code</button></a>
    </div>
</div>

