body {
}

.truncate-text {
    max-width: 150px; /* Adjust the width as needed */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn{
    border: solid 1px #b7b7b7 !important;
}

.payment-method{
    padding:30px;
}

