* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 100%;
    padding-right: 5rem;
    padding-left: 5rem;
}

.feedbackIndex-input {
    border-radius: 15px;
    padding: 10px 15px 10px 15px !important;
    border: solid 1px #b7b7b7;
}

.feedbackIndex-submit {
    background: #0e2ce1;
    color: white !important;
}

@media(max-width:575px){
    .container {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

@media(max-width:440px){
    .feedbackIndex-input{
        font-size: 1rem !important;
    }
    .alert-info{
        font-size: 1rem !important;
    }
}
