@{
    @if (User.Identity.IsAuthenticated)
    {
        Layout = "_Logged-In_Layout";
    }
    else
    {
        Layout = "_Layout";
    }
}
<link rel="stylesheet" href="~/css/UserCSS/Index.css" />
<link rel="stylesheet" href="~/css/UserCSS/Home.css" />


<div class="caroul col-sm-12 mx-auto">
    <div id="promoCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a asp-route-id="28" asp-action="ProductDetails" asp-controller="Product"><img src="~/pic/banner.png" class="d-block w-100 img-fluid" alt="Promo Image 1"></a>
            </div>
            <div class="carousel-item">
                <a asp-route-id="3" asp-action="ProductDetails" asp-controller="Product"><img src="~/pic/Half Banner2.png" class="d-block w-100 img-fluid" alt="Promo Image 2"></a>
            </div>
            <div class="carousel-item">
                <a asp-route-id="44" asp-action="ProductDetails" asp-controller="Product"><img src="~/pic/Half Banner3.png" class="d-block w-100 img-fluid" alt="Promo Image 3"></a>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#promoCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#promoCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#promoCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#promoCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#promoCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
    </div>
</div>


<!--------------body---------------->
<h1 class="text-center fw-bold mb-2 reccom">Recommend</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-6 d-flex justify-content-center">
            <a asp-route-id="5" asp-action="ProductDetails" asp-controller="Product">
                <img src="~/pic/Half Banner2.png" style="width: 100%; height: auto;">
            </a>
        </div>
        <div class="col-sm-6 d-flex justify-content-center">
            <a asp-route-id="44" asp-action="ProductDetails" asp-controller="Product">
                <img src="~/pic/Half Banner3.png" style="width: 100%; height: auto;">
            </a>
        </div>
    </div>
</div>
<br>
<div class="container mt-3">
    <div class="imgrow1 row d-flex flex-row justify-content-center align-items-center">
        <div class="col-sm-3 d-flex justify-content-center">
            <a asp-route-id="11" asp-action="ProductDetails" asp-controller="Product">
                <img src="~/pic/small/small.png" class="card-img-top .custom-img" alt="..." style="max-width: 100%; height: auto; object-fit: cover;">
            </a>
        </div>
        <div class="col-sm-3 d-flex justify-content-center">
            <a asp-route-id="24" asp-action="ProductDetails" asp-controller="Product">
                <img src="~/pic/small/small2.png" class="card-img-top" alt="..." style="max-width: 100%; height: auto; object-fit: cover;">
            </a>
        </div>
        <div class="col-sm-3 d-flex justify-content-center">
            <a asp-route-id="44" asp-action="ProductDetails" asp-controller="Product">
                <img src="~/pic/small/small3.png" class="card-img-top" alt="..." style="max-width: 100%; height: auto; object-fit: cover;">
            </a>
        </div>
    </div>
    <br>
    <div class="imgrow2 row d-flex flex-row justify-content-center align-items-center">
        <div class="col-sm-3 d-flex justify-content-center">
            <a asp-route-id="59" asp-action="ProductDetails" asp-controller="Product">
                <img src="~/pic/small/small4.png" class="card-img-top" alt="..." style="max-width: 100%; height: auto; object-fit: cover;">
            </a>
        </div>
        <div class="col-sm-3 d-flex justify-content-center">
            <a asp-route-id="61" asp-action="ProductDetails" asp-controller="Product">
                <img src="~/pic/small/small5.png" class="card-img-top" alt="..." style="max-width: 100%; height: auto; object-fit: cover;">
            </a>
        </div>
        <div class="col-sm-3 d-flex justify-content-center">
            <a asp-route-id="33" asp-action="ProductDetails" asp-controller="Product">
                <img src="~/pic/small/small6.png" class="card-img-top" alt="..." style="max-width: 100%; height: auto; object-fit: cover;">
            </a>
        </div>
    </div>
    
</div>

<br>
<hr/>

<div class="align-items-center helpfind">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-4"></div>
            <div class="col-sm-4 w-100 d-flex justify-content-center fw-bold">
                <h1 class="fw-bold">Let us help you find it.</h1>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="">
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-4"></div>
                <div class="col-sm-4 justify-content-center tagbox1 gap-2">
                    <a class="btn btn btn-outline-dark rounded-3 fs-4" style="margin: 10px;" asp-route-category="Mug" asp-action="ProductMainPage" asp-controller="Product">Mug</a>
                    <a class="btn btn btn-outline-dark rounded-3 fs-4" style="margin: 10px;" asp-route-category="Steel Flask" asp-action="ProductMainPage" asp-controller="Product">SteelFlask</a>
                    <a class="btn btn btn-outline-dark rounded-3 fs-4" style="margin: 10px;" asp-route-category="Tumbler" asp-action="ProductMainPage" asp-controller="Product">Tumbler</a>
                </div>
                <div class="col-4"></div>
            </div>

            <div class="row d-flex justify-content-center  align-items-center">
                <div class="col-sm-4 justify-content-center"></div>
                <div class="col-sm-4 tagbox2">
                    <a class="btn btn-outline-dark rounded-3 fs-4" style="margin: 10px;" asp-route-minPrice="0" asp-route-maxPrice="160" asp-action="ProductMainPage" asp-controller="Product">0-159฿</a>
                    <a class="btn btn-outline-dark rounded-3 fs-4" style="margin: 10px;" asp-route-minPrice="160" asp-route-maxPrice="199" asp-action="ProductMainPage" asp-controller="Product">160-199฿</a>
                    <a class="btn btn-outline-dark rounded-3 fs-4" style="margin: 10px;" asp-route-minPrice="200" asp-route-maxPrice="300" asp-action="ProductMainPage" asp-controller="Product">300฿</a>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </div>
    </div>
</div>

<br />

<hr/>

<br />

<h4 class="fw-bold">About Us</h4>
<div class="col-sm-12" id="about-us">
    <p class="fs-5">Staychill is an E-Commerce website selling beverage packaging products. This website is created by a group of students in the CMM349 Web Application course. It is intended for educational use only.</p>
</div>


<h4 class="fw-bold">Contact</h4>

<div class="col-6" id="contact">
    <p class="fs-5">
        King Mongkut’s University of Technology Thonburi (KMUTT)
        6B floor, 14-storey Parking Building
        126 Pracha Uthit Rd., Bang Mod, Thung Khru, Bangkok 10140. Thailand </br>
        <span class="fw-bold">Call : 01-234-5678</span><br>
        <span class="fw-bold">Gmail : Staychill.gmail.com</span>
   </p>
        
</div>

    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3877.106954579432!2d100.49386787455713!3d13.651257399614483!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e2a251bb6b0cf1%3A0xf656e94ff13324ad!2z4Lih4Lir4Liy4Lin4Li04LiX4Lii4Liy4Lil4Lix4Lii4LmA4LiX4LiE4LmC4LiZ4LmC4Lil4Lii4Li14Lie4Lij4Liw4LiI4Lit4Lih4LmA4LiB4Lil4LmJ4Liy4LiY4LiZ4Lia4Li44Lij4Li1!5e0!3m2!1sth!2sth!4v1733047888953!5m2!1sth!2sth"
                width="auto"
                height="auto"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
    </div>
    

</div>
