@model Staychill.ViewModel.UserViewModel

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/UserCSS/SignUp.css" asp-append-version="true">

<div class="container"> 
    <div class="row w-100 shadow p-2">
        <div class="fw-bold mt-2 p-2 fs-2 text-center">Sign up to Your Account</div>
        <div class="form-container col-12 col-md-8 mx-auto">
            <form asp-action="SignUp" method="post" class="col-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
                    <div class="form-group col-12 col-md-6 pe-0 pe-md-3">
                        <input asp-for="Firstname" class="form-control" placeholder="Firstname" />
                        <span asp-validation-for="Firstname" class="text-danger"></span>
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <input asp-for="Lastname" class="form-control" placeholder="Lastname" />
                        <span asp-validation-for="Lastname" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input asp-for="Username" class="form-control" placeholder="Username" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Email" class="form-control" placeholder="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Phonenumber"/>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
                    <div class="form-group col-12 col-md-6 pe-0 pe-md-3">
                        <input asp-for="HouseNumber" class="form-control" placeholder="HouseNumber" />
                        <span asp-validation-for="HouseNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <input asp-for="Alley" class="form-control" placeholder="Alley" />
                        <span asp-validation-for="Alley" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input asp-for="Road" class="form-control" placeholder="Road" />
                    <span asp-validation-for="Road" class="text-danger"></span>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
                    <div class="form-group col-12 col-md-6 pe-0 pe-md-3">
                        <input asp-for="Subdistrict" class="form-control" placeholder="Subdistrict" />
                        <span asp-validation-for="Subdistrict" class="text-danger"></span>
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <input asp-for="District" class="form-control" placeholder="District" />
                        <span asp-validation-for="District" class="text-danger"></span>
                    </div>
                </div>

                <div class="d-flex flex-column flex-md-row justify-content-center align-items-center">
                    <div class="form-group col-12 col-md-6 pe-0 pe-md-3">
                        <input asp-for="Province" class="form-control" placeholder="Province" />
                        <span asp-validation-for="Province" class="text-danger"></span>
                    </div>
                    <div class="form-group col-12 col-md-6">
                        <input asp-for="Country" class="form-control" placeholder="County" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <input asp-for="ZipCode" class="form-control" placeholder="ZipCode" />
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>

                <div class="form-group mt-3 mb-1 d-flex flex-row justify-content-start align-content-start align-items-center">
                    <input type="submit" value="Create" class="btn Signupbtn text-black fw-bold w-100" />
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
